In [1]:
import pandas as pd
import sqlite3

In [2]:
#extract
df=pd.read_csv('businessretailsales.csv')

In [3]:
print(df.head())

      Product Type  Net Quantity  Gross Sales  Discounts  Returns  \
0  Art & Sculpture            34      14935.0    -594.00  -1609.0
1           Basket            13       3744.0    -316.80      0.0
2           Basket            12       3825.0    -201.60   -288.0
3           Basket            17       3035.0     -63.25      0.0
4  Art & Sculpture            47       2696.8     -44.16      0.0

   Total Net Sales
0         12732.00
1          3427.20
2          3335.40
3          2971.75
4          2652.64

In [4]:
print(df.tail())

     Product Type  Net Quantity  Gross Sales  Discounts  Returns  \
1770      Kitchen             0         28.0      -2.81   -25.19
1771      Jewelry             0         28.0       0.00   -28.00
1772       Basket             0        116.0     -23.20   -92.80
1773      Kitchen             0         16.5       0.00   -16.50
1774      Kitchen            -1          0.0       0.00  -106.25

      Total Net Sales
1770             0.00
1771             0.00
1772             0.00
1773             0.00
1774          -106.25

In [5]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1775 entries, 0 to 1774
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Product Type     1767 non-null   object
 1   Net Quantity     1775 non-null   int64
 2   Gross Sales      1775 non-null   float64
 3   Discounts        1775 non-null   float64
 4   Returns          1775 non-null   float64
 5   Total Net Sales  1775 non-null   float64
dtypes: float64(4), int64(1), object(1)
memory usage: 83.3+ KB
None

In [6]:
print(df.describe())

       Net Quantity   Gross Sales    Discounts      Returns  Total Net Sales
count   1775.000000   1775.000000  1775.000000  1775.000000      1775.000000
mean       3.712676    199.671746    -6.317623    -5.385437       187.968687
std        6.243078    464.880638    20.903517    46.654269       414.547039
min       -1.000000      0.000000  -594.000000 -1609.000000      -106.250000
25%        1.000000     48.000000    -6.000000     0.000000        44.800000
50%        2.000000    100.000000     0.000000     0.000000        96.000000
75%        4.000000    185.500000     0.000000     0.000000       184.750000
max       96.000000  14935.000000     0.000000     0.000000     12732.000000

In [7]:
print(df.isnull().sum())

Product Type       8
Net Quantity       0
Gross Sales        0
Discounts          0
Returns            0
Total Net Sales    0
dtype: int64

In [8]:
print(df.isnull().sum())

Product Type       8
Net Quantity       0
Gross Sales        0
Discounts          0
Returns            0
Total Net Sales    0
dtype: int64

In [9]:
missing_rows = df['Product Type'].isnull()
print(df[missing_rows])

     Product Type  Net Quantity  Gross Sales  Discounts  Returns  \
550           NaN             1        158.0        0.0      0.0
703           NaN             1        128.0        0.0      0.0
1028          NaN             1         75.0        0.0      0.0
1030          NaN             1         75.0        0.0      0.0
1287          NaN             1         48.0        0.0      0.0
1370          NaN             1         42.0        0.0      0.0
1618          NaN             1         24.0        0.0      0.0
1761          NaN             1         10.5        0.0      0.0

      Total Net Sales
550             158.0
703             128.0
1028             75.0
1030             75.0
1287             48.0
1370             42.0
1618             24.0
1761             10.5

In [10]:
print(df['Product Type'].mode())

0    Basket
Name: Product Type, dtype: object

In [14]:
#transform
most_frequent_product_type = df['Product Type'].mode()[0]
df['Product Type'].fillna(most_frequent_product_type, inplace=True)

In [12]:
print(df.isnull().sum())

Product Type       0
Net Quantity       0
Gross Sales        0
Discounts          0
Returns            0
Total Net Sales    0
dtype: int64

In [13]:
# Load
conn = sqlite3.connect('sales_data.db')
df.to_sql('sales_table', conn, if_exists='replace', index=False)
conn.close()