In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('businessretailsales2.csv')

In [3]:
print(df.head())

      Month  Year  Total Orders  Gross Sales  Discounts  Returns  Net Sales  \
0   January  2017            73       8861.5    -129.40  -448.45    8283.65
1  February  2017            56       6908.5    -104.70  -416.20    6387.60
2     March  2017            60       5778.5    -172.20 -1017.20    4589.10
3     April  2017            70       8814.0    -281.40     0.00    8532.60
4       May  2017            54       6677.0    -185.75  -253.80    6237.45

   Shipping  Total Sales
0   1088.30      9371.95
1    892.45      7280.05
2    707.43      5296.53
3   1068.30      9600.90
4    866.46      7103.91

In [4]:
print(df.tail())

        Month  Year  Total Orders  Gross Sales  Discounts  Returns  Net Sales  \
31     August  2019           105      8839.50    -201.67   -84.37    8553.46
32  September  2019            88      9077.45    -354.89  -853.35    7869.21
33    October  2019            97      9132.25    -279.42 -1572.55    7280.28
34   November  2019           272     23997.90    -776.84  -364.51   22856.55
35   December  2019           342     31183.90   -2269.51 -1311.18   27603.21

    Shipping  Total Sales
31   1724.75     10278.21
32   1567.65      9436.86
33   1631.25      8911.53
34   4824.75     27681.30
35   5703.25     33306.46

In [5]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Month         36 non-null     object
 1   Year          36 non-null     int64
 2   Total Orders  36 non-null     int64
 3   Gross Sales   36 non-null     float64
 4   Discounts     36 non-null     float64
 5   Returns       36 non-null     float64
 6   Net Sales     36 non-null     float64
 7   Shipping      36 non-null     float64
 8   Total Sales   36 non-null     float64
dtypes: float64(6), int64(2), object(1)
memory usage: 2.7+ KB
None